.title {
    font-size : 20px;
    font-weight: bolder;
    text-decoration: none;
}

.research-type {
    color: rgb(224, 44, 137);
}

.detail {
    font-size: 16px;
}

.databox {
    border : dashed 2px gray;
    border-radius: 10px;
    padding-left: 20px;
    margin-top: 30px;
    /* box-shadow: 10px; */
}