*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.title {
    font-size : 20px;
    font-weight: bolder;
    text-decoration: none;
}

.research-type {
    color: rgb(224, 44, 137);
}

.detail {
    font-size: 16px;
}

.databox {
    border : dashed 2px gray;
    border-radius: 10px;
    padding-left: 20px;
    margin-top: 30px;
    /* box-shadow: 10px; */
}

.buttonbar {
    background-color: palegreen;
    outline: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transform:  translate(-50%,50%);


}

.searchBoxs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,50%);
    background: rgb(149, 143, 148);
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    width: 540px;

}

/* .searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
} */

/* .searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
} */

/* .searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

} */

.homeSearch {
    background-color: #2f3640;
    padding: .35rem .35rem .35rem .75rem;
    display: flex;
    align-items: center;
    border-radius: .75rem;
    border: 3px solid gold;
}

.header {
    background-color: rgba(197, 191, 193, 0.93);
    
}

.menubar {
    
}

.mainbutton {
    background-color: rgb(220, 72, 185) !important;
    border-color: rgb(180, 8, 180) !important;
    border-radius: 5px !important;
}

.searchBox {
    position: relative;
    /* top: 10%; */
    left: 50%;
    /* right: 50%; */
    transform:  translate(-50%,50%);
    background: #484343;
    height: 60px;
    border-radius: 40px;
    padding: 10px;
    width: 400px;

}

.searchBox:hover > .searchButton {
  background: white;
  color : #000000;
}

.searchButton {
    position: relative;
    top: -100%;
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex; 
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: rgb(220, 216, 216);
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 400px;
    padding: 0 6px;
}

.whitenavlink {
    color: white !important;
}